<section class="py-10 py-lg-20 bg-bg-3">
    <div class="container">
        <div class="row justify-content-center">
            {{range .intro}}
            <div class="mb-8 mb-md-0 col-md-6 col-lg-5">
                <p class="fs-1 font-heading text-dark-1 mb-6 remove-br aos-init aos-animate" data-aos="fade-down" data-aos-delay="0">
                    {{.heading}}
                </p>
                <p class="fs-4 mb-0 aos-init aos-animate" data-aos="fade-down" data-aos-delay="150">
                    {{.text}}
                </p>
            </div>
            {{end}}
        </div>
    </div>
</section>