<section class="py-10 py-lg-20 bg-bg-3 text-center text-md-start">
    <div class="container">
        <div class="mb-md-20 mb-15 row flex-column">
            <div class="mb-6 col-lg-8 col-xl-6">
                <h2 class="display-5 aos-init aos-animate" data-aos="fade-down" data-aos-delay="0">
                            Kalender
                </h2>
            </div>
            <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                <p class="fs-2 mb-0 aos-init aos-animate" data-aos="fade-down" data-aos-delay="150">
                    {{.calendar.subtitle}}
                </p>
            </div>
        </div>
        <div class="row justify-content-center justify-content-sm-start">
            {{range .calendar.events}}
            <div class="mb-15 col-10 col-sm-6 col-md-5 col-lg-4 border-bg-3 aos-init aos-animate" data-aos="fade-down" data-aos-delay="250">
                <div>
                    <h2 class="text-action-1">
                        {{.date}}
                    </h2>
                    <p class="lh-1 fw-light fst-italic">
                        {{.year}}
                    </p>
                </div>
                <h5 class="mb-4">
                    {{.title}}
                </h5>
                <p class="mb-0">
                    {{.text}}
                </p>
            </div>
            {{end}}
            
        </div>
    </div>
</section>