<section class="py-10 py-lg-20 text-center bg-bg-3">
    <div class="container">
        <div class="row justify-content-md-center">
            {{range .specs}}
                <div class="mb-8 col-xl-3 col-sm-6 aos-init aos-animate" data-aos="fade-down" data-aos-delay="0">
                    <h2 class="display-5 text-action-1 mb-4 mb-xl-6">
                        {{.heading}}
                    </h2>
                    <h2 class="fs-3 mb-4">
                        {{.title}}
                    </h2>
                    <p class="mb-0">
                        {{.text}}
                    </p>
                </div>        
            {{end}}
        </div>
</section>