{{define "main"}}
<section class="py-10 py-lg-20 bg-bg-3 text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-7 col-xl-6 col-xxl-5">
                <h2 class="display-5 mb-6 aos-init aos-animate" data-aos="fade-down" data-aos-delay="0">
                                            {{.Params.title}}
                </h2>
                <p class="mb-15 fs-2 aos-init aos-animate" data-aos="fade-down" data-aos-delay="150">
                                            {{.Params.subtitle}}
                </p>
            </div>
        </div>
        <div class="row mt-6">
            {{range .Params.images}}
            {{if (eq .size "small")}}
            <div class="col-3">
                <a href="{{.image}}" class="d-block">
                    <img src="{{.image}}" alt="" class="d-block w-100"/>
                </a>
            </div>
            {{else if (eq .size "medium")}}
            <div class="col-6">
                <a href="{{.image}}" class="d-block">
                    <img src="{{.image}}" alt="" class="d-block w-100"/>
                </a>
            </div>
            {{else}}
            <div class="col-12">
                <a href="{{.image}}" class="d-block">
                    <img src="{{.image}}" alt="" class="d-block w-100"/>
                </a>
            </div>
            {{end}}
            {{end}}
        </div>
    </div>
</section>
{{end}}