{{ define "main" }}

<!-- Blog 12 -->
<section class="bg-bg-3 py-4 py-lg-8">
    <div class="container">
        <img src="{{ .Params.jumbotron }}" alt=""
            class="img-fluid w-100 aos-init aos-animate" data-aos="fade-down" data-aos-delay="0">
    </div>
</section>
<!-- Blog 7 -->
<section class="bg-bg-3 py-10 py-lg-20">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-8">
                <div class="mb-10 row justify-content-between">
                    <div class="col-auto aos-init aos-animate" data-aos="fade-down" data-aos-delay="0">
                        <a href="#" class="text-dark-1">
                            Nieuws
                        </a>
                    </div>
                    <div class="col-auto aos-init aos-animate" data-aos="fade-down" data-aos-delay="250">
                        <p class="mb-0">
                            {{ .Date.Format "Monday, Jan 2, 2006" }}
                        </p>
                    </div>
                </div>
                <h1 class="display-3 mb-6 mb-md-15 aos-init aos-animate" data-aos="fade-down" data-aos-delay="500">
                    {{ .Params.title }}
                </h1>

                <div class="mb-8 fs-1 text-dark-1 aos-init aos-animate" data-aos="fade-down" data-aos-delay="750">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog 13 -->
<section class="bg-bg-3 py-8">
    <div class="container">
        <div class="row">
            {{range .Params.images}}
            <div class="col-sm-6">
                <img src="{{.image}}"
                    alt=""
                    class="img-fluid w-100 mb-4 mb-sm-0 aos-init aos-animate" data-aos="fade-down" data-aos-delay="0">
            </div>
            {{end}}
            
        </div>
    </div>
</section>
<!-- Blog 16 -->
<section class="bg-bg-3 py-4 py-lg-8 text-center">
    <div class="container">
        <img src="Startup%20preview%20-%20artikel_files/blog-16.jpg"
            srcset="Startup%20preview%20-%20artikel_files/blog-16@2x.jpg 2x" alt=""
            class="img-fluid rounded-circle mb-2 aos-init aos-animate" data-aos="fade-down" data-aos-delay="0">
        <h5 class="mb-1 aos-init aos-animate" data-aos="fade-down" data-aos-delay="250">
            Daniel Kim
        </h5>
        <p class="mb-0 aos-init aos-animate" data-aos="fade-down" data-aos-delay="500">
            12 Articles
        </p>
    </div>
</section>

{{ end }}